*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./images/background\ image.jpg);
    background-size: cover;
}
.nav{
    display: flex;
    background-color: rgb(255, 182, 47);
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 25px;

}
.logo{
    font-size: 30px;
    color: darkcyan
}
li{
    display: inline-block;
    margin-right: 25px;
}
li:hover{
    background-color: white;
    border-radius: 4px;
}
.image{
    background-size: cover;
}
